<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <%- include('../partials/adminoffcanvas') %>    

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="card p-5 my-5">
                    <h4 class="text-center fw-bold">Add Product</h4>
                    <form action="/editProduct/<%=editProduct._id%>" method="post" enctype="multipart/form-data">
                        <% if (messages.success) { %>
                            <div class="alert alert-success">
                                <%= messages.success %>
                            </div>
                        <% }else if (messages.error){ %>
                          <div class="alert alert-danger">
                            <%= messages.error %>
                        </div>
                        <%}%>
                        <div class="form-group py-2">
                            <label for="name" class="py-1">Product Name</label>
                            <input type="text" value="<%= editProduct.name %>" placeholder="Product Name" class="form-control" name="name">
                        </div>
                        <div class="form-group py-2">
                            <label for="description" class="py-1">Product Description</label>
                            <textarea placeholder="Product Description" class="form-control" name="description"><%= editProduct.description %> </textarea>
                        </div>
                        <div class="form-group py-2">
                            <label for="tags" class="py-1">Tags</label>
                            <textarea placeholder="Tags Description" class="form-control" name="tags"><%= editProduct.tags %> </textarea>
                        </div>
                        
                        <div class="form-group py-2">
                            <label for="price" class="py-1">Product Price</label>
                            <input type="number" value="<%=editProduct.price%>" placeholder="Product Price" class="form-control" name="price">
                        </div>
                        <div class="form-group py-2">
                            <label for="Discount Price" class="py-1">Discount Price</label>
                            <input type="number" value="<%=editProduct.discount%>" placeholder="Discount Price" class="form-control" name="discount">
                        </div>
                        <div class="form-group py-2">
                            <label for="brand" class="py-1">Brand</label>
                            <select name="brand" class="form-control">
                                <option value="<%= editProduct.brand.name %> " disabled>Select a Brand</option>
                                <% brands.forEach(brand => { %>
                                    <option value="<%= brand.name %>"><%= brand.name %> </option>                                
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group py-2">
                            <label for="category" class="py-1">Category</label>
                            <select name="category" class="form-control">
                                <option value="<%= editProduct.category.name %> " disabled>Select a Category</option> 
                                <% categorys.forEach(function(cat){ %>
                                    <option value="<%= cat.name %>">
                                    <%= cat.name %> </option>                                
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group py-2">
                            <label for="stock" class="py-1">Product Stock</label>
                            <input type="number" value="<%=editProduct.stock%>" placeholder="Product Stock" class="form-control" name="stock">
                        </div>
                        <div class="form-group py-2">
                            <label for="img1" class="py-1">Image 1</label>
                            <img src="/uploads/<%=editProduct.images[0]%>"  alt="No image Selected" class="img-fluid imagePreview" style="max-height: 50px;width: auto;">
                            <input type="file" name="image1" class="form-control imageInput" id="imageInput" accept="image/*" />
                        </div>
                        <div class="form-group py-2">
                            <label for="img2" class="py-1">image 2</label>
                            <img src="/uploads/<%=editProduct.images[1]%>"  alt="No image Selected" class="img-fluid imagePreview" style="max-height: 50px;width: auto;">
                            <input type="file" name="image2" class="form-control imageInput" id="imageInput" accept="image/*" />
                        </div>
                        <div class="form-group py-2">
                            <label for="img3" class="py-1">image 3</label>
                            <img src="/uploads/<%=editProduct.images[2]%>"  alt="No image Selected" class="img-fluid imagePreview" style="max-height: 50px;width: auto;">
                            <input type="file" name="image3" class="form-control imageInput" id="imageInput" accept="image/*" />
                        </div>
                        <div class="form-group py-2">
                            <label for="img4" class="py-1">image 4</label>
                            <img src="/uploads/<%=editProduct.images[3]%>"  alt="No image Selected" class="img-fluid imagePreview" style="max-height: 50px;width: auto;">
                            <input type="file" name="image4" class="form-control imageInput" id="imageInput"  />
                        </div>
                        <div class="d-flex justify-content-end py-3">
                            <input type="submit" value="Save Product" class="btn btn-outline-success mx-4">
                            <a href="/cancelProduct" type="submit" value="Cancel" class="btn btn-outline-danger ">Cancel</a>  
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const imageInput = document.querySelectorAll('.imageInput');
        const imagePreview = document.querySelectorAll('.imagePreview');
        imageInput.forEach((input, index) => {
            input.addEventListener('change', function () {
                const file = input.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview[index].src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                } else {
                    imagePreview[index].src = '';
                }
            });
        });
    </script>
</body>
</html>
